*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100% ;
    height: 130vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,#1d222b);


}
.calculator{

    border: 1px solid #6f7fa0;
    padding: 20px;
    border-radius:18px;
    background: transparent; 
    box-shadow: 0px  3px 15px rgb(85, 94, 214);

}

input{
    width: 100%;
    border: none;
    padding: 25px; 
    margin: 20px;
    background: transparent;
    box-shadow: 0px 3px 9px rgb(121, 122, 121 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: rgb(228, 230, 232);
}

input::placeholder{
    color: rgb(194, 178, 178);
}


button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: white;
    font-size: 20px;
    box-shadow: 0px 1px 3px rgb(177, 165, 165);
    cursor: pointer;


}

.equalBtn{
    background-color: rgb(185, 111, 9);
}

.operator{
    color: rgb(81, 173, 84);
}